<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=TML;User ID=tml;Password=123456"/>
		<add name="TMLConnectionString" connectionString="Data Source=.;Initial Catalog=TML;User ID=tml;Password=123456" providerName="System.Data.SqlClient"/>
		<add name="TMLConnectionString2" connectionString="Data Source=.;Initial Catalog=TML;User ID=tml;Password=123456" providerName="System.Data.SqlClient"/>
		<add name="money" connectionString="10000"/>
 <add name="rate" connectionString="100"/>
  
    <add name="domain_name" connectionString="yx.198uu.com"/>
<add name="charge_url" connectionString="http://127.0.0.1/pay.aspx"/>
	</connectionStrings>
	<system.web>
 <customErrors mode="Off" />
		<compilation debug="true">
		</compilation>
		<!--  115.238.145.92;273165gr
            通过 <authentication> 节可以配置
            安全身份验证模式，ASP.NET 
            使用该模式来识别来访用户身份。 
        -->
		<authentication mode="Windows"/>
		<!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节
            可以配置相应的处理步骤。具体而言，
            开发人员通过该节可配置要显示的 html 错误页，
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm"/>
            <error statusCode="404" redirect="FileNotFound.htm"/>
        </customErrors>
        -->
		<globalization requestEncoding="gb2312" responseEncoding="gb2312" culture="zh-CN" fileEncoding="gb2312"/>
		<pages validateRequest="false"/>
	</system.web>
</configuration>
