body{margin:0px;font-size:12px;background-image:url(../images/blue/backgroundlogo.gif)}

A{font-size:14px;}
A:link{color:#FFFFFF;font-weight:bold;text-decoration:none;}
A:visited{color:#FFFFFF;font-weight:bold;text-decoration:none;}
A:hover{color:#FF0000;font-weight:bold;text-decoration:none;}

.LeftMenuTD{vertical-align:top;text-align:left;border-right:solid 1px #ffffff;width:180px;}
.LeftMenuDiv{height:100%;width:180px;overflow-x:hidden;overflow-y:scroll;border-right:solid 1px #3333CC;scrollbar-face-color:#6666FF;scrollbar-3dlight-color:#8888FF;scrollbar-highlight-color:#6666FF;scrollbar-base-color:#ff0000;scrollbar-track-color:#8888FF;scrollbar-arrow-color:#ffffff;scrollbar-shadow-color:#6666FF;scrollbar-darkshadow-color:#6666FF;}
.LeftMenuTable{width:180px;height:100%;background-color:#BBBBFF;}
.MenuTitle{width:180px;height:50px;background-image:url(../images/blue/title_bg.gif);}
.SubMenuClose{width:180px;height:35px;background-image:url(../images/blue/SubMenu_Close.gif);border-top:solid 1px #3333CC;padding-left:45px;cursor:hand;}
.SubMenuOpen{width:180px;height:35px;background-image:url(../images/blue/SubMenu_Open.gif);border-top:solid 1px #3333CC;padding-left:45px;cursor:hand;}
.ChildMenuNormal{width:180px;height:35px;background-image:url(../images/blue/ChildMenu_Normal.gif);border-top:solid 1px #5555CC;padding-left:75px;}
.ChildMenuLaster{width:180px;height:35px;background-image:url(../images/blue/ChildMenu_Laster.gif);border-top:solid 1px #5555CC;padding-left:75px;}

.MenuFooter{width:180px;height:35px;text-align:center;vertical-align:middle;background-image:url(../images/blue/MenuFooter.gif);border-top:solid 1px #3333CC;}
.MenuFooter A{width:auto;height:auto;line-height:35px;}
.MenuFooter A:link, .MenuFooter A:visited{color:#FFFFFF;}
.MenuFooter A:hover{color:#FF0000;text-decoration:underline;}

.Footer A{width:auto;height:auto;line-height:normal;}
.Footer{height:30px;font-size:12px;text-align:center;overflow:hidden;color:#FFFFFF;background-image:url(../images/blue/footer_mid.gif);}
.Footer a:link,.Footer a:visited{color:#ffffff;}
.Footer a:hover{color:#FF0000;text-decoration:underline;}

.HeaderLeft{background-image:url(../images/blue/header_left.gif);width:20px;}
.HeaderMid{background-image:url(../images/blue/header_mid.gif);color:#FFFFFF;font-size:20px;text-align:center;}
.HeaderRight{background-image:url(../images/blue/header_right.gif);width:20px;}

.FooterLeft{background-image:url(../images/blue/footer_left.gif);width:20px;}
.FooterRight{background-image:url(../images/blue/footer_right.gif);width:20px;}

.Scroll_Up_Btn{background-image:url(../images/blue/Scroll_Up.gif);cursor:hand;height:0px;}
.Scroll_Down_Btn{background-image:url(../images/blue/Scroll_Down.gif);cursor:hand;height:0px;}

.LoginTable{width:250px;height:150px;border:solid 1px #000000;top:50%;left:50%;position:absolute;margin-top:-65px;margin-left:-125px;}
.LoginTitle{line-height:24px;font-weight:bold;padding-left:5px;color:#FFFFFF;font-size:14px;background-color:#6666FF;border-bottom:solid 1px #AAAAAA;}
.LoginTable td{}
.LoginTable span{display:block;float:left;line-height:24px;font-size:14px;width:60px;text-align:right;}
.InputBox{width:150px;}

.K2046_Button,#btn_Login{background:transparent;border:none;width:74px;height:28px;text-align:center;color:#FFFFFF;font-weight:bold;background-image:url(../images/blue/K2046_Button.gif);cursor:pointer;}

.Master_Editor_Table{width:400px;height:auto;border:solid 1px #3333CC;position:absolute;margin-left:-200px;top:30px;left:50%;}
.Master_Editor_Table td{height:30px;}

.Manage_Header{height:30px;background-color:#5555FF;color:#FFFFFF;font-size:14px;font-weight:bold;text-align:center; letter-spacing:10px;}
.Manage_Table{width:600px;height:auto;border:solid 1px #3333CC;position:absolute;margin-left:-300px;top:20px;left:50%;}
.Manage_Title{width:80px;background-color:#FFFFFF;text-align:center;font-size:14px;height:30px;}

.GridView_Table TH{border:solid 1px #8888FF;}
.GridView_Table TD{border:solid 1px #8888FF;}
.GridView_Table{border:solid 1px #ffffff;color:#3333CC;}
.GridView_Header{background-color:#6666FF;color:#FFFFFF;height:25px;font-weight:bold;}
.GridView_AlternatingRow{background-color:#EEEEFF;text-align:center;color:#000000;height:20px;font-size:12px;}
.GridView_Row{text-align:center;color:#000000;height:20px;font-size:12px;}
.GridView_Table a{font-size:12px;}
.GridView_Table a:link,.GridView_Table a:visited{color:#3333CC;}
.GridView_ViewPath{color:#002369;font-size:26px;}
.GridView_Footer{border:solid 1px #8888FF;height:25px; vertical-align:bottom;}

.PA_Read_E{border:solid 1px #000000;color:#00AA00;margin-right:2px;}
.PA_Read_D{border:solid 1px #000000;margin-right:2px;color:#FF0000;}
.PA_Writen_E{border:solid 1px #000000;color:#00AA00;margin-right:2px;}
.PA_Writen_D{border:solid 1px #000000;margin-right:2px;color:#FF0000;}
.PA_Modify_E{border:solid 1px #000000;color:#00AA00;margin-right:2px;}
.PA_Modify_D{border:solid 1px #000000;margin-right:2px;color:#FF0000;}
.PA_Delete_E{border:solid 1px #000000;color:#00AA00;margin-right:2px;}
.PA_Delete_D{border:solid 1px #000000;margin-right:2px;color:#FF0000;}
.PA_All_E{border:solid 1px #000000;color:#00AA00;margin-right:2px;}
.PA_All_D{border:solid 1px #000000;	margin-right:2px;color:#FF0000;}

.PathLine{font-size:20px;margin-right:5px;}
.folderlist_name{float:left;font-size:14px;}
#FolderAccessList{text-align:center;padding:10px;}
#folderlist{width:80%;text-align:left;}
.folderlist_line{height:20px;overflow:hidden;}
.folderlist_power{float:left;}
.folderlist_power div{width:16px;height:16px;float:left;font-size:12px;text-align:center;}

.K2046_Pager{vertical-align:bottom;text-align:left;width:100%;padding-top:3px;padding-bottom:3px;padding-right:35px;}
.K2046_Pager A{BORDER: #8888FF 1px solid;PADDING-RIGHT: 3px;PADDING-LEFT: 3px;MARGIN-LEFT: 1px;MARGIN-RIGHT: 1px;HEIGHT: 18px;vertical-align:middle;font-size:12px;}
.K2046_Pager A:link{	COLOR: #3333CC;	TEXT-DECORATION: none;	vertical-align:middle;	padding-top:2px;}
.K2046_Pager .nowPage{COLOR: #FFFFFF;BACKGROUND-COLOR: #3333CC;padding-top:2px;}
.K2046_Pager A:visited{COLOR: #3333CC;TEXT-DECORATION: none;	padding-top:2px;}
.K2046_Pager A:hover{COLOR: #FF0000;BACKGROUND-COLOR: #EEEEEE;TEXT-DECORATION: underline;}
.K2046_Pager .noLink{COLOR: #AAAAAA;vertical-align:middle;padding-top:2px;}

.Upload_Selected{background-image:url(../images/blue/upload_sel.gif);background-repeat:no-repeat; background-position:0 0; height:20px;padding-left:22px;display:none; line-height:20px;}
.Upload_Selected a{font-size:12px;color:#FF0000;cursor:pointer;}