body{}
body,form{margin:0;padding:0;font-size:14px;}
*{font-family:"宋体"}
.l{float:left;}
.r{float:right;}
.c{clear:both;}
.m{margin-top:10px;}
.red{color:#f30;}
.dis{display:none;}
.mtb{ margin-top:10px; margin-bottom:10px;}
.mr10{margin-right:10px;}
.mb10{margin-bottom:10px;}
div,ul,li,p,form{padding: 0px; margin: 0px;list-style-type: none;}
a{text-decoration:none;color:#333;}
a:hover{text-decoration:none;color:#f30;}


.width{width:800px;margin:auto;overflow:hidden;}
.mt10{margin-top:10px;}
#left{float:right;width:570px;}
#right{float:right;width:220px;}
#index_hot{width:218px;}
.border{border:1px solid #993300;background:#CCC;}
.index_left{width:568px;overflow:hidden;float:left;}
.subject_title{font-size:14px;font-weight:bold;color:#fff;padding-left:12px;background:#666;}
.subject_title a{color:#fff;}
.subject_title a:hover{color:#ff0000;}
.subject_title03{float:left;font-size:14px;font-weight:bold;color:#fff;text-indent:12px;width:800px;background:url(bg1.jpg)}
#foot{text-align:center;padding:16px 0;color:#555;line-height:20px;font-family:Arial;}
.wef39z1{width:100%;height:60px;margin:auto;overflow:hidden;font-size:20px;font-weight:bold;line-height:60px;color:#fff;background:#E9722F;text-align:center}
.wef39z2{width:800px;height:1px;margin:auto;overflow:hidden;background:#000;}
.wef39z3{width:800px;margin:auto;overflow:hidden;background:#6B42EE;}
.wef39z3 ul{padding-right:5px;}
.wef39z3 li{font-size:14px;float:left;padding-left:6px;padding-right:6px;height:30px;line-height:30px;margin-right:5px;text-align:center;color:#fff}
.wef39z3 li a{color:#fff;font-weight:bold}
.wef39z3 li a:hover{color:#ff0000}
.subject_bg{height:29px;line-height:29px}
.all_list a{color:#000}
.all_list a:hover{color:#993300}
.index_label a{font-family:arial;color:#000}
.index_label a:hover{font-family:arial;color:#993300}
.index_label span{color:#999;}
.index_link a{color:#000}
.index_link a:hover{color:#993300}

.subject_title span{float:right;font:12px/30px "宋体";padding-right:10px;}
.subject_title span span{float:none;font:12px/30px arial;padding:0 4px;color:#f30;border:0;}
.subject_title span a{color:#fff;font:12px/30px "宋体";color:#fff;}
.subject_title span a:hover{color:#000;font:12px/30px "宋体";color:#000;}
.m10{margin:10px;}
.all_list{margin:0;padding:0;}
.all_list dt{line-height:25px;}
.all_list b a{color:#0084F0;}
.all_list b a:hover{color:#f30;}
.all_list span{float:right;color:#999;}
.all_list div{color:#999;line-height:15px;}
.left_w{overflow:hidden;width:650px;}
.index_label{line-height:20px;font-family:arial;}
.sub_menu{margin:0;padding:0;float:left;}
.sub_menu dt{float:left;width:79px;height:29px;color:#89C165;text-align:center;cursor:pointer;}
.sub_menu dt.hover{background:#fff url(../images/sdcms.gif) 0 -104px no-repeat;width:79px;height:29px;color:#50B20E;}
.sub_menu a{color:#89C165;}
.sub_menu a:hover{color:#337D00;}
.index_link{margin:0;padding:0;width:100%;}
.index_link dt{float:left;width:10%;margin-bottom:10px;}


.list_title{font:14px Microsoft Yahei;margin:0;padding:0;color:#03f;}
.list_title a{color:#03f;text-decoration:underline;}
.list_title a:hover{color:#f30;}
.list_jj{color:#444;margin:5px 0;word-wrap:break-word;overflow:hidden;width:628px; line-height:15px;}
.list_other{color:#777;margin-bottom:10px;border-bottom:1px dashed #ccc;padding-bottom:5px;}
.list_other span{color:#000;}
.List_page{text-align:center;margin-bottom:10px;}
.List_page a{background:#fff;margin:0px 1px;padding:4px 6px;border:1px solid #AECD9E;color:#A0A0A0;}
.List_page span{background:#3D9403;color:#fff;margin:0px 1px;padding:4px 6px;border:1px solid #3D9403;}


#Positon{height:35px;line-height:35px;}
.info_title{margin:10px 0;font:100 18px Microsoft Yahei;text-align:center;}
.info_other{text-align:center;color:#999;margin:4px 0;}
.info_content{word-wrap:break-word;word-break:break-all;overflow:hidden;line-height:24px;font-size:13px;}
.content_page{}
.content_page a{background:#fff;margin:1px;padding:4px 6px;border:1px solid #AECD9E;color:#A0A0A0;display:inline-block;}
.content_page a.on{background:#AECD9E;color:#fff;margin:1px;padding:4px 6px;border:1px solid #AECD9E;display:inline-block;}
.content_page input{position:absolute;margin:-5px 0 0 1px;*margin:0 0 0 1px;padding:1px 0 2px 0;*padding:0;background:#fff;border:1px solid #AECD9E;color:#A0A0A0;width:30px;height:22px;line-height:22px;text-align:center;}
.content_page button{position:absolute;margin:-5px 0 0 35px;*margin:0 0 0 35px;padding:0;background:#fff;border:1px solid #AECD9E;color:#A0A0A0;width:40px;height:24px;line-height:24px;text-align:center;font-size:12px;}
.content_url{font-size:14px;font-family:arial;color:#06f;margin:20px;}
.content_url span{color:#666;}
.content_url input{background:#50B20E;color:#fff;width:40px;border:0;height:24px;}
.content_url #this_url{border:1px solid #ccc;width:464px;font-family:arial;color:#000;height:20px;line-height:20px;background:#fff;}
.info_next{color:#999;margin:6px 20px;}
.info_next a{font-family:verdana;}


#foot a{font-family:Arial;}
.foot_menu{color:#D0E6C0;margin-bottom:10px;}
.foot_menu a{color:#50B20E;}
.foot_menu a:hover{color:#f30;}
